body {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../images/cutting_board.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-card{
    /*flex: 1 0 21%;*/
    width: 20%;
    position: relative;
    background-color: #F1E5AC;
    margin: 1em;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px;
    transition: all .2s ease-in-out;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.food-card p {
    /* link text will look like white text with shadow behind it */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0.5em;

    /* pin text to bottom right of card*/
    bottom: 8px;
    right: 16px;
    color: white;
    position: absolute;
    text-shadow: #000 1px 0 10px;
    text-align: right;
}

.food-card p:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: goldenrod;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.food-card:hover p:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.food-card:hover{
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title{
    text-align: center;
    color: #D3D3D3;
    margin-top: 1em;
}

.section-title{
    color: black;
}

.ingredients{
    flex: 1;
    flex-direction: column;
}

.steps{
    flex: 1;
    flex-direction: column;
}