body {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../images/cutting_board.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

title{
    text-transform: capitalize;
}

h2{
    text-align: center;
    color: #E9E9E9;
    padding: 1em;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food-card{
    filter: brightness(80%);
    width: 45%;
    position: relative;
    margin: 0.5em;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px;
    transition: all .2s ease-in-out;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.food-card p {
    /* link text will look like white text with shadow behind it */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0.5em;
    transition: all .2s ease-in-out;

    /* pin text to bottom right of card*/
    bottom: 8px;
    right: 16px;
    color: white;
    position: absolute;
    text-shadow: #000 1px 0 10px;
    text-align: right;
}

.food-card p:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.food-card:hover p:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.food-card:hover{
    transform: scale(1.1);
    filter: brightness(1);
}

.food-card:hover p{
    color: transparent;
    text-shadow: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* general body of recipe card */
.recipe-card{
    background-color: #F1E5AC;
    width: 100%;
    margin: 1em;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px;
}

/* title of card (ingredients or steps) */
.recipe-card h3{
    background: #808080;
    padding: 0.5em;
    /*color: #D5D5D5;*/
    color:white;
}

.card-row{
    display: flex;
}

/* list items on card */
.recipe-card h6{
    padding: 0.5em;
    margin: 0.5em;
    border-bottom: goldenrod 2px solid;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.recipe-card input{
    margin: 1em 0 0 1em;
    min-width: 16px!important
}

#ingredients-form-buttons{
    position: sticky;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

#ingredients-form-inputs > *{
    margin: 0.25em;
}

/* when the screen is NOT mobile (DESKTOP)*/
@media only screen and (min-width: 768px) {
    .food-card{
        width: 20%;
        margin: 1em;
    }

    .recipe-card{
        width: 40%;
    }
}
