{% extends "base.html" %}

{% block content %}

    <div class="flexbox-container">
        <form method="POST">
            <div id="ingredients-form" class="input-group mb-3">
                <div class="input-group">
                    <button class="btn btn-warning" type="submit">Submit</button>
                    <button class="btn btn-warning" type="button" onclick="addIngredientInput()">+</button>
                </div>
                <div class="input-group">
                    <input name="ingredients[]" type="text" class="form-control" placeholder="Ingredient">
                </div>
            </div>
        </form>
    </div>

{% endblock %}
