{% extends "base.html" %}

{% block content %}

    <div class="flexbox-container">
        <form method="POST">
            <div class="input-group mb-3">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
