{% extends "base.html" %}

{% block content %}

    <div class="flexbox-container">
        <form method="POST">
            <div id="ingredients-form" class="input-group mb-3">
                <div class="input-group">
                    <button class="btn btn-warning" type="submit">Submit</button>
                    <button class="btn btn-warning" type="button" onclick="addIngredientInput()">+</button>
                </div>
                <div class="input-group">
                    <input name="ingredients[]" type="text" class="form-control" placeholder="Ingredient">
                </div>
            </div>
        </form>
    </div>


    {# first 10 food results by name #}
    <div class="flexbox-container">
        {% if foods %}
            {% for food in foods %}
                <div class="food-card">
                    <a href="{{ url_for('views.recipe', type=food) }}">
                        <img src="{{ food["image"] }}" alt="image of {{ food["name"] }}"/>
                        <p class="bottom-right">{{ food["name"] }}</p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
