{% extends "base.html" %}

{% block content %}
    <div class="flexbox-container">
        <form method="POST">
            <div class="input-group mb-3">
                <input id="food" name="food" class="form-control" placeholder="Name a food" aria-label="Name a food">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="flexbox-container">
        <h2>{{ food_name }}</h2>
    </div>

    <div class="flexbox-container">
        <div class="flexbox-item">
            {% if ingredients %}
                <h3 class="title">Ingredients</h3>
                {% for ingredient in ingredients %}
                    <ul>
                        {% if ingredient["unit"] %}
                            <li>{{ ingredient["amount"] }} {{ ingredient["unit"] }} of {{ ingredient["name"] }}</li>
                        {% else %}
                            <li>{{ ingredient["amount"] | int }} {{ ingredient["name"] }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>

        <div class="flexbox-item">
            {% if steps %}
                <h3 class="title">Steps</h3>
                {% for step in steps %}
                    <ul>
                        <li>{{ step["number"] }}. {{ step["step"] }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
