{% extends "base.html" %}

{% block content %}
    <div class="flexbox-container">
        <form method="POST">
            <div class="input-group mb-3">
                <input id="food" name="food" class="form-control" placeholder="Name a food" aria-label="Name a food">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="flexbox-container">
        <h2>{{ first_food_name }}</h2>
    </div>

    <div class="flexbox-container">
        {% if foods %}
            <h3 class="title">Foods</h3>
            <ul>
                {% for food in foods %}
                    <li class="flexbox-item">{{ food["name"] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
