{% extends "base.html" %}

{% block content %}

    {# textbox for user to enter a food | SUBMIT BUTTON DOES NOT WORK #}
    <div class="flexbox-container">
        <form method="POST">
            <div class="input-group mb-3">
                <input id="food" name="food" class="form-control" placeholder="Name a food" aria-label="Name a food">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <h3 class="title">Foods</h3>

    {# first 10 food results by name #}
    <div class="flexbox-container">
        {% if foods %}
            <ul>
                {% for food in foods %}
                    <li class="flexbox-item">
                        <img src="{{ food["image"] }}">
                        <a href="{{url_for('views.recipe', type=food)}}">
                            {{ food["name"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
