{% extends "base.html" %}

{% block content %}

    <h2 class="title">Get the Ingredients and Steps of a desired food</h2>

    {# textbox for user to enter a food #}
    <div class="flexbox-container">
        <form method="POST">
            <div class="input-group mb-3">
                <input id="food" name="food" class="form-control food-input" placeholder="Name a food"
                       aria-label="Name a food">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    {# first 10 food results by name #}
    <div class="flexbox-container">
        {% if foods %}
            {% for food in foods %}
                <div class="food-card">
                    <a href="{{ url_for('views.recipe', type=food) }}">
                        <img src="{{ food["image"] }}" alt="image of {{ food["name"] }}"/>
                        <p class="bottom-right">{{ food["name"] }}</p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
