{% extends "base.html" %}

{% block content %}

    {# image and name of desired food #}
    <div class="flexbox-container">
        <div class="food-card">
            <img src="{{ image }}" alt="image of {{ name }}"/>
            <p class="bottom-right">{{ name }}</p>
        </div>
    </div>

    <div class="flexbox-container">

        {# all the ingredients for the food #}
        <div class="recipe-card">
            {% if ingredients %}
                <h3>Ingredients</h3>
                {% for ingredient in ingredients %}
                    <input class="form-check-input" type="checkbox">
                    {% if ingredient["unit"] %}
                        <h6>{{ ingredient["amount"] }} {{ ingredient["unit"] }} of {{ ingredient["name"] }}</h6>
                    {% else %}
                        <h6>{{ ingredient["amount"] | int }} {{ ingredient["name"] }}</h6>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        {# all the steps for the food #}
        <div class="recipe-card">
            {% if steps %}
                <h3>Steps</h3>
                {% for step in steps %}
                    <h6>{{ step["number"] }}. {{ step["step"] }}</h6>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
