{% extends "base.html" %}

{% block content %}

    {# name of food #}
    <h2 class="title">{{ name }}</h2>

    <img src="{{ image }}" alt="image of {{ name }}">

    <div class="flexbox-container">

        {# all the ingredients for the food #}
        <div class="flexbox-item ingredients">
            {% if ingredients %}
                <h3 class="section-title">Ingredients</h3>
                {% for ingredient in ingredients %}
                    <ul>
                        {% if ingredient["unit"] %}
                            <li>{{ ingredient["amount"] }} {{ ingredient["unit"] }} of {{ ingredient["name"] }}</li>
                        {% else %}
                            <li>{{ ingredient["amount"] | int }} {{ ingredient["name"] }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>

        {# all the steps for the food #}
        <div class="flexbox-item steps">
            {% if steps %}
                <h3 class="section-title">Steps</h3>
                {% for step in steps %}
                    <ul>
                        <li>{{ step["number"] }}. {{ step["step"] }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
